
*//*{
margin: 0;
padding: 0;
height: 100%;
background-color: #e8e8e8;

}
**/

html,
body {
    width: 100%;
    height: 100%
} 

.img-container {
background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/tutoring\ for\ aspiring\ coders2.png");
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  
}
/*** Laptop Text and CTA Button***/

.inner-container {

    text-align: center;
    position: absolute;
    width: 100%;
    color: white;
    top: 35%;
    left: 38%;
    height: auto;
    transform: translate(-50%, -50%);
}

.index-title {
font-size: 7.0 em;
font-family: 'VT323', monospace;
display: inline-block;
text-align: center;
position: absolute;
margin-top: 155px;
}

a{
    margin-top: 20px;
    font-size: 1.3em;
    font-family: sans-serif;
    
}

/***CTA BUTTON ****/
.button {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    color: whitesmoke;
    border: 4px solid;
    text-align: center;
    outline: none;
    margin-top: 300px;
    position: absolute;
    margin-left: 510px;
    transition: background-color 0.2 ease-out;
    height:8%;
}

.button:hover, .button:active{
    background-color: #ffffff;
    color: gray;
}

#cta-bttn {

    position: absolute;
    margin-top: 100px;


}

/************* NAV BAR ****************/

#nav {

    background-color: black;
    height: 50px;
    transition: 0.8s all;

}



.about {
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    outline: none;
    height: 10%;
    left: 100px;
    text-decoration: none;
    
}


.bTutor {
    display: inline-block;
    padding: px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    outline: none;
    height: 8%;
    left: 150px;

}

.login {
        margin-top: 10px;
        display: inline-block;
        padding: 10px;
        font-weight: bold;
        color: whitesmoke;
        text-align: center;
        outline: none;
        height: 10%;
        left: 100px;
        text-decoration: none;
}

/********************SURVEY.HTML STYLING******************************/



    #add-ons {
    background-repeat: repeat;
    }

    #text {
        text-align: center;

    }

  #intro {
      background-color: black;
      color: white;
      height: 50px;
  }

    
    /*************************ABOUT US STYLING*************************/

    #aboutUs {


        
    }