
*{
margin: 0px;
height: 100%;
background-color: #e8e8e8;

}
  
body {
    width: 100%;
}
  

.img-container {

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/business-15822_1920.jpg");
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
/* Headline positioning on homepage*/

.inner-container {

    text-align: center;
    position: absolute;
    width: 100%;
    color: black;
    height: auto;
    margin-top: 450px;

}

h1 {
font-size: 6.75em;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h2 {
    margin-top: -17px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.st-bttn{
background-color: blue;
color: white;
transition: background-color 0.3 ease-in, color 0.3s ease-in;

}